a {
  padding-inline-end: 0.5rem;
  cursor: pointer;


  .none {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .underline {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &.hover{
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.white {
    color: hsl(0, 0%, 100%);
  }

  &.black {
    color: hsl(0, 0%, 0%);
  }

  &.brown {
    color: hsl(0, 16%, 16%);
  }
}