body {
    --color-background: hsl(140, 35%, 92%);
    --color-form-background: hsl(0, 0%, 100%);
    --color-borders: hsl(156, 3%, 70%);
    --color-submit-button: hsl(170, 81%, 27%);
    --border-regular: 1px solid var(--color-borders);
    --color-error: hsl(0,100%,50%);
    --color-success: hsl(120,100%,25%);
    --shadow-error: 2px 2px 2px 2px hsl(0,100%,50%);


    background-color: var(--color-background);
    font-family: "Figtree", sans-serif;
    font-size: 9px;
    display: flex;
    flex-direction: column;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toast-wrapper {
    position: absolute;
    inset-inline : 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    max-inline-size: 350px;
    padding: 10px 20px;
    margin: auto;
    border-radius: 20px;
    inline-size: 100%;
    margin-block-start: 10px;
    justify-content: space-between;
}

.exit{
    font-size: 35px;
}

.toast-text{
    font-size: 15px;
}

.success {
    background-color: var(--color-success);
}

.error {
    background-color: var(--color-error);
}

.problem{
    box-shadow: var(--shadow-error);
}

.hidden {
    display: none;
}

.form-wrapper {
    background-color: var(--color-form-background);
    max-inline-size: 400px;
    margin: auto;
    padding: 20px;
    margin-block-start: 75px;
    padding-block-start: 10px;
    border-radius: 10px;
}

h2 {
    font-size: 18px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    inline-size: 100%;
}

.name {
    inline-size: 50%;
}

.label-wrapper {
    margin-block-start: 10px;
    display: flex;
    gap: 5px;
}

.label-wrapper p {
    margin-block-end: 5px;
}

.options-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: auto;
    inline-size: 100%;
}

.option {
    border: var(--border-regular);
    border-radius: 5px;
    inline-size: 50%;
    display: flex;
    align-items: center;
    padding-inline-start: 10px;
    gap: 5px;
}

.consent {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin: 10px 0 10px;
}

input {
    border: var(--border-regular);
    border-radius: 5px;
    block-size: 25px;
}

textarea {
    border: var(--border-regular);
    border-radius: 5px;
    block-size: 50px;
    resize: none;
}

button {
    background-color: var(--color-submit-button);
    color: var(--color-form-background);
    inline-size: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 11px;
}

button,.exit,.consent input,.options-wrapper :hover {
    cursor: pointer;
}

@media (orientation: portrait) {
    .form-wrapper {
        max-inline-size: 200px;
    }

    .name-wrapper {
        flex-direction: column;
    }

    .name {
        inline-size: 100%;
    }

    .options-wrapper {
        flex-direction: column;
    }

    .option {
        inline-size: 100%;
    }

    textarea {
        block-size: 125px;
    }

    button {
        padding: 8px;
    }

    .toast-wrapper {
        max-inline-size: 175px;
    }
}
